@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

$tablet: 1080px;
$decentphone: 600px;
$fullhd: 1920px;
$desktop: 1200px;
$smallscreen: 360px;

$bocDarkGray: #101010;
$bocDarkGrayTint: #515254;
$bocDarkGreen: #1b5a1a;
$bocGreen: #cac4cc;
$headerTextColor: #101010;
$formButtonBcgColorSave: #101010;
$formButtonColorSave: #dd6514;

.App {
  text-align: center;

  .search-results-wrapper {
    width: 100vw;
    //height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .movies-wrapper {
      width: 600px;
      border: 3px solid $bocGreen;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      box-sizing: content-box;
      margin-top: 10px;
      font-family: "Roboto Condensed";
      padding: 18px;
      animation: appear-anim-streach 0.5s;
      .movie-item {
        display: flex;
        font-size: 20px;
        margin-top: 10px;
        animation: appear-anim 1s;

        a:link,
        a:visited,
        a:active {
          color: inherit;
          text-decoration: none;
        }


        i {
          color: red;
          width: 140px;
        }
        .movie-description {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          margin-bottom: 15px;
          
          .movie-title {
            margin-left: 20px;
          }

          .movie-review {
            margin-left: 20px;
            font-size: smaller;
            border-top: 1px dotted lightgray;
            margin-top: 4px;
            padding-top: 6px;
          }
        }
      }
      .search-term {
        text-align: left;
        color: $bocGreen;
      }
      .not-found {
        color: $bocGreen;
        text-align: center;
        padding: 20px;
      }
      .loading-data {
        animation: appear-anim 0.8s;
      }
    }
  }

  .visible {
    display: flex;
  }

  .app-header-widebox {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $bocGreen;
    font-family: "Titillium Web", sans-serif;
    font-size: 50px;
    font-weight: 700;
    .header-inner-box {
      width: $tablet;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .boc-logo {
        height: 69px;
        margin-left: 15px;

        svg {
          height: inherit;
          fill: $headerTextColor;
        }
      }
      .serials-title {
        margin-right: 15px;
        font-size: 43px;
        color: $headerTextColor;
      }
    }
  }

  .loading-screen {
    width: 100%;
    height: 100vh;
    font-size: 30px;
    color: $bocGreen;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //font-family: "Titillium Web", sans-serif;
  //font-family: "Roboto Condensed", sans-serif;

  .simple-form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;

    .form-title {
      font-size: 40px;
      font-weight: 700;
    }
    .small-info {
      font-size: 10px;
    }

    .form-button {
      display: flex;
      background-color: $formButtonBcgColorSave;
      border-radius: 13px;
      padding: 5px 20px 5px 20px;
      color: $formButtonColorSave;
      margin: 15px 30px 15px 30px;
    }

    .buttons-row {
      display: flex;
      flex-direction: row;
      align-content: center;
    }

    .field {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 7px;
      align-items: center;
      justify-content: center;
      align-content: center;
      label {
        width: calc(100% / 3);
        text-align: right;
        padding-right: 20px;
      }

      input {
        width: auto;
        text-align: left;
        font-size: 30px;
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 350px;
        font-size: 1.5em;
        border-radius: 13px;
        &:focus {
          outline: none;
          color: $bocGreen;
          border-radius: 13px;
          box-shadow: 0px 0px 3px 3px;
        }
      }
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes appear-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-anim-streach {
  from {
    height: 0px;
  }
  to {
    height: 48px;
  }
}
